*,
*::before,
*::after {
    inset: 0;
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#graph {
    flex: 1;
    height: 50%;
}

#functions {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 50%;
    overflow: scroll;
    background-color: #202020;
}

#btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn {
    flex: 1;
    padding: 5px;
    font-size: max(6vmin, 20px);
    background-color: #000000;
    color: #fff;
}

span,
a {
    text-wrap: wrap;
    font-family: monospace;
    font-size: max(3vmin, 10px);
    color: #fff;
}

.btn:hover {
    background-color: #141414;
}
